<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Registro de Veículo</title>
  </head>
  <body>

    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container border">
      <h2>Registrar veículo</h2>
      <br>
      <form action="#" th:action="@{/vehicles/register}" th:object="${vehicleRecordDto}" method="post" id="formRegister">
        <div class="row">
          <div class="form-group col">
            <label>Placa</label>
            <input type="text" class="form-control" th:field="*{registrationNumber}" id="registrationNumber" />
            <div th:if="${#fields.hasErrors('global')}">
              <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
            </div>
          </div>
          <div class="form-group col">
            <label>Cidade</label>
            <input type="text" class="form-control"  id="city" th:field="*{city}" />
          </div>
          <div class="form-group col">
            <label>Estado</label>
            <select class="form-select" id="state" th:field="*{state}"></select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>Marca</label>
            <input type="text" class="form-control" id="make" th:field="*{make}" />
          </div>
          <div class="form-group col">
            <label>Modelo</label>
            <input type="text" class="form-control" id="model" th:field="*{model}" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>Cor</label>
            <input type="text" class="form-control" id="color" th:field="*{color}" />
          </div>
          <div class="form-group col">
            <label>Ano</label>
            <select class="form-select" id="year" th:field="*{year}"></select>
          </div>
        </div>
        <div class="form-group">
          <label>CPF do dono</label>
          <input type="text" class="form-control" th:field="*{ownerId}" />
        </div>
        <br>
        <button class="btn btn-success" type="submit">Registrar</button>
      </form>
      <br>
      <a href="/vehicles">Voltar</a>
    </div>

  </body>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/mask.js}"></script>
  <script type="text/javascript" th:src="@{/js/selectStates.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/messages_pt_BR.js}"></script>
  <script type="text/javascript" th:src="@{/js/selectYear.js}"></script>
  <script>

  </script>
</html>